h1 {
  font-family: sans-serif;
  text-align: center;
}

p {
  font-weight: 600;
  font-size: 3em;
  font-style: italic;
}

#title {
  text-decoration: underline;
}

#yellow {
  background-color: yellow;
}

#red {
  background-color: red;
}

#brown {
  background-color: brown;
}

body {
  font-size: 16px;
}

.list {
  line-height: 200%;
}
